

.navbar {
  padding: 50px; /* Padding around the navbar */
  display: flex;
  justify-content: space-between; /* Distribute items along the main axis */
  align-items:center; /* Center items vertically */
  font-size: 30px;

}

.nav-left {
  order: 1; /* Adjust the order of the left section */
}

.nav-right {
  order: 2; /* Adjust the order of the right section */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-left: 65%;
  display: flex; /* Display items in a row */
  font-size: 150%;
 
}

.nav-item {
  margin-right: 20px; /* Spacing between items */
}

.nav-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.nav-item a {
  text-decoration: none;
  color:white; /* Link color */
}
#Pro-Pent-Estate{
  background-color: gray;
}





.EM-teksti{
justify-content: left;
margin-top:15%;
margin-left:55%; 
font-size:large;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 34%;
}
.footer-left{
  margin:0%;
}
